@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

img:not(.loaded) {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s skeleton-loading linear infinite;
  color: transparent;
  /* hide broken image text while loading */
}

img.loaded {
  background: transparent;
  animation: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Manrope", sans-serif !important;
  letter-spacing: 0.03rem;
}

main a {
  position: relative;
}

main a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

main a:hover:before {
  visibility: visible;
  width: 100%;
}

.no-link-decoration:hover:before {
  visibility: hidden !important;
}