<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> #}
  {% set css %}
  {% include "assets/css/inline.css" %}
  {% include "assets/css/bootstrap.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  {% set js %}
  {% include "assets/js/inline.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <meta content="#2d334b" name="theme-color"/>
  <meta name="Description" content="Ruben Schuckit's personal website. Software Engineer (among other things) at Google.">
</head>