<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146560321-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-146560321-2');
  </script>

  {% set css %}
  {% include "assets/css/inline.css" %}
  {% include "assets/css/bootstrap.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  {% set js %}
  {% include "assets/js/inline.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <meta content="#2d334b" name="theme-color"/>
  <meta name="Description" content="Ruben Schuckit's personal website. Software Engineer (among other things) at Google.">
</head>