{% set css %}
{% include "assets/css/nav.css" %}
{% endset %}
<style>
  {{css | cssmin | safe}}
</style>
{% set navPages = collections.all | eleventyNavigation %}

<nav aria-label="Main Navigation">
  <div class="d-flex align-content-center myNav">
    <div class="brand">Ruben Schuckit</div>
    <ul class="d-flex m-0 p-0" style="list-style-type: none;">
      {%- for entry in navPages %}
      <li class="linkContainer d-flex align-items-center">
        <a class="navLink {% if entry.url == page.url %}active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</nav>