{% set css %}
{% include "assets/css/nav.css" %}
{% endset %}
<style>
  {{css | cssmin | safe}}
</style>
{% set navPages = collections.all | eleventyNavigation %}

<nav class="d-flex align-content-center myNav">
  <div class="brand">Ruben Schuckit</div>
  <div class="linkContainer d-flex align-items-center">
    {%- for entry in navPages %}
      <a class="navLink pr-2 {% if entry.url == page.url %}active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
    {%- endfor %}
  </div>
</nav>