{% for yearOfPosts in collections.blogPosts | reverse %}
	<h1 class="pl-3 pt-1">{{ yearOfPosts.year }}</h1>
	{% for post in yearOfPosts.posts | reverse %}
		<div class="m-4 card" style="max-width: 750px">
			<div class="card-body">
				<h5 class="card-title">{{ post.data.title }}</h5>
				<h6 class="card-subtitle mb-3 mt-1 text-muted font-italic">{{ post.date | machineDate }}</h6>
				<p class="card-text">{{ post.data.summary }}</p>
				<a href="{{ post.url | url }}" class="btn btn-primary">Read</a>
			</div>
		</div>
	{% endfor %}
{% endfor %}